.contact-header {
  display: flex;
  align-items: center;
  background-color: #3b3737;
  color: white;
  padding: 0 50px;
  width: 100%;
  justify-content: space-between;
  height: 70px;
  margin-left: 40px;
}

.contact-header .icons {
  display: flex;
  align-items: center;

}

.contact-header .logo {
  font-weight: bold;
  font-size: 25px;
  color: #1CBB4A;
}

.contact-header .logo-icons {
  font-weight: bold;
  font-size: 30px;
  color: #1CBB4A;
}

.contact-header .icons svg {
  cursor: pointer;
  font-size: 30px;
  width: 30px;
}

.contact-header .icons svg:hover {
  color: #4fd24d;
}

.contact-header .btn-agendar {
  display: flex;
  align-items: center;
  background-color: #25D366;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.contact-header .btn-agendar:hover {
  background-color: #1CBB4A;
}

.contact-header .btn-agendar .icons {
  margin-right: 5px;
}

.contact-header.search-visible .form-busqueda {
  display: flex;
  width: 92%;
  margin-top: 0.5rem;
  margin-right: 0;
}

.modal {
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(249, 249, 249);
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.overlay {
  position: fixed;
  float: right;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.541);
}

.modal-body {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.close-button {
  cursor: pointer;
  border: none;
  background: none;
  font-size: 20px;
  color: rgb(62, 62, 62);
  justify-content: end;
}

.close-button:hover {
  color: red;
}

.title {
  font-weight: bold;
  margin-top: 20px;
  color: white;
}

.subtitle {
  cursor: pointer;
}

.icons-arrow {
  width: 15px;
  height: 15px;
  font-size: 5px;
  color: #4fd24d;
  cursor: pointer;
  position: relative;
  right: 10px;
}

.add-user {
  width: 20px;
  height: 20px;
}

/* Media Queries */

/* Desktop */
@media (max-width: 1200px) {
  .contact-header {
    display: flex;
    align-items: center;
    font-size: 10px;
  }
}

/* Tablet */
@media (max-width: 992px) {
  .contact-header {
    display: flex;
    align-items: center;
    font-size: 8px;
  }
}

/* Horizontal */
@media (max-width: 768px) {
  .contact-header {
    display: flex;
    align-items: center;
    font-size: 8px;
  }

  .contact-header .icons {
    font-size: 10px;
    display: flex;
    gap: 5px;
  }

  .icons svg {
    font-size: 30px;
    cursor: pointer;
    font-size: 15px;
    width: 30px;
  }

  .contact-header .logo-icons {
    font-size: 30px;
  }

  .contact-header .logo {
    font-size: 25px;
  }
}

/* Phone */
@media (max-width: 320px) {
  .contact-header {
    display: flex;
    align-items: center;
    font-size: 8px;
  }

  .contact-header .icons {
    font-size: 10px;
    display: flex;
    gap: 5px;

  }

  .contact-header .icons svg {
    cursor: pointer;
    font-size: 30px;
    width: 30px;
  }

  .contact-header .logo-icons {
    display: none;
  }

  .contact-header .logo {
    font-size: 20px;
  }
}