.chat {
    display: flex;
    flex-direction: column;

    background: #ffffff;

    height: 100vh;
}

.chat-screen {
    position: relative;
    top: 100px;
    height: 700px;
    overflow-y: scroll;
    scroll-behavior: smooth;

}

.chat::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}



.chat::-webkit-scrollbar-thumb:hover {
    background: #17c147;
}