.chat {
    display: flex;
    flex-direction: column;
    justify-content: start; /* Corrected 'star' to 'start' */
    overflow-y: scroll;
    background: #ffffff; /* Fondo blanco para el modo claro */
    color: #000000; /* Texto negro */
    height: 100vh;
}

.chat-screen {
    position: relative;
}

.chat::-webkit-scrollbar {
    width: 8px;
    height: 10px;
}

.chat::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color más claro para el fondo del scroll */
    border-radius: 10px;
}

.chat::-webkit-scrollbar-thumb {
    background: #c1c1c1; /* Color sobrio para el thumb del scroll */
    border-radius: 10px;
}

.chat::-webkit-scrollbar-thumb:hover {
    background: #a1a1a1; /* Color más oscuro al pasar el mouse */
}
