
.chat {
    display: flex;
    flex-direction: column;

    overflow-y: scroll;
    background: #ffffff; 
    color: #f30000; 
    height: 100vh;
}

.chat-screen {
    position: relative;
}

.chat::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.chat::-webkit-scrollbar-track {
    background: #484848; 
    border-radius: 10px;
}

.chat::-webkit-scrollbar-thumb {
    background: #b8bbb8; 
    border-radius: 10px;
}

.chat::-webkit-scrollbar-thumb:hover {
    background: #17c147;
}
 