/* Style formulario de mensajes */

.form {
    display: flex;
    width: 100%;
    height: 10%;
    background-color: #31363F;
    align-items: center;
    padding: 10px;
    box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.1);

}

.form .input-mensaje {
    color: #000000;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    width: 100%;
    height: 40px;
    overflow: hidden;
    white-space: nowrap;
    outline: none;
    margin-right: 10px;
}

.form .input-mensaje::placeholder {
    color: #999999;
}

.form .btn-send {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #1CBB4A;
    border: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin-left: 10px;

}

.form .btn-send:hover {
    background-color: #1CBB4A;

}

.form .icons-input,
.form .icons-emoji {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 24px;
    height: 24px;
    color: #ffffff;
    margin-right: 10px;
}

.form .icons-input svg,
.form .icons-emoji svg {
    cursor: pointer;
}

/* Media Queries */

/* Desktop */
@media (max-width: 2000px) {
    .form {
        height: 10%;
        position: fixed;
        bottom: 0;

    }

    .input-mensaje {
        width: 80%;
        height: 30px;
    }

    .btn-send {
        width: 30px;
        height: 30px;

    }

    .icons-emoji svg {
        width: 30px;
        height: 30px;
        margin-left: 10px;
    }

    .icons-input svg {
        width: 30px;
        height: 30px;

    }
}


@media (max-width: 1200px) {
    .form {
        height: 10%;
        position: fixed;
        bottom: 0;
    }

    .form .input-mensaje {
        width: 75%;
        height: 20px;
    }

    .form .btn-send {
        width: 30px;
        height: 30px;
    }

    .form .icons-emoji svg {
        width: 20px;
        height: 20px;

    }

    .form .icons-input svg {
        width: 20px;
        height: 20px;
        left: 20px;
    }

    .form .icons-input {
        margin-left: 10px;
    }

}

/* Tablet */
@media (max-width: 992px) {
    .form {
        width: 100%;
        height: 10%;
        position: fixed;
        bottom: 0;
    }

    .form .input-mensaje {
        width: 75%;
        height: 35px;
    }

    .form .btn-send {
        width: 30px;
        height: 30px;
        left: 95%;
    }

    .form .icons-emoji {
        width: 25px;
        height: 25px;
        margin-right: 20px;
    }

    .form .icons-input {
        width: 20px;
        height: 20px;
        left: 6%;
    }

}

/* Mobile horizontal*/
@media (max-width: 768px) {
    .form {
        width: 100%;
        height: 10%;
        position: fixed;
        bottom: 0;
    }

    .form .input-mensaje {
        width: 75%;
        height: 35px;
        left: 5px;
        font-size: 12px;
    }

    .form .btn-send {
        width: 30px;
        height: 30px;
        left: 92%;
    }

    .form .icons-emoji {
        width: 20px;
        height: 20px;
        left: 20px;
    }

    .form .icons-input {
        width: 20px;
        height: 20px;
        left: 10px;
    }

}

/* Phone */
@media screen and (min-width: 320px) and (max-width: 500px) {
    form {
        width: 100vh;
        height: 10%;
        position: fixed;
        bottom: 0;
    }

    .form .input-mensaje {
        width: 65%;
        height: 25px;
        left: 5px;
    }

    .form .btn-send {
        width: 40px;
        height: 40px;
        left: 85%;
    }

    .form .icons-emoji {
        width: 30px;
        height: 30px;

    }

    .form .icons-input {
        display: none;
    }

    .form .input-mensaje::placeholder {
        color: var(--ColorPlaceHolder);
        font-size: 12px;
    }
}